In [1]:
import workdays
import datetime
import calendar
from datetime import datetime, timedelta, date
from dateutil.relativedelta import relativedelta

In [2]:
# Input date
d = datetime(2022, 9, 1) 
print("Input date :",d)

d = date(2022, 9, 1) 
print("Input date :",d)

Input date : 2022-09-01 00:00:00
Input date : 2022-09-01

In [3]:
# Today
d = date.today()
print("Today :",d)

d = datetime.today()
print("Today :",d)

Today : 2023-07-21
Today : 2023-07-21 13:12:54.223294

In [4]:
#timdedelta, relativedelta
tmp=5
d = date.today() + timedelta(days=tmp)
print("Day+"+str(tmp)+" :",d)

tmp=5
d = date.today() + relativedelta(days=tmp)
print("Day+"+str(tmp)+" :",d)


d = date.today()
print(d)

d = date.today() + relativedelta(months=3)
print(d)

d = date.today()+ relativedelta(years=3)
print(d)

Day+5 : 2023-07-26
Day+5 : 2023-07-26
2023-07-21
2023-10-21
2026-07-21

In [5]:
# Workday
tmp = 5
d = workdays.workday(date.today(), days=tmp)  
print("Workday+"+str(tmp)+" :",d)

Workday+5 : 2023-07-28

In [6]:
ODA = workdays.workday(date.today(), days=-1) #One day agp
TDA= workdays.workday(date.today(), days=-2)  #Two days ago
OYA = TDA - relativedelta(months=13)
OYA = OYA.replace(day=calendar.monthrange(OYA.year, OYA.month)[1]) #One year ago
YE = date(TDA.year, 3, 31) if TDA.month > 3 or (TDA.month == 3 and TDA.day == 31) else date(TDA.year - 1, 3, 31)
ME = (date(TDA.year, TDA.month, 1) + relativedelta(months=-1, day=31)) #Month End

print(date.today())
print(ODA)
print(TDA)
print(OYA)
print(YE)
print(ME)

2023-07-21
2023-07-20
2023-07-19
2022-06-30
2023-03-31
2023-06-30

In [7]:
#Sat, Sun -> Weekday
d = date(2007, 3, 31)
d = workdays.workday(d+timedelta(days=1), days=-1)
print(d) #timedelta -> only days

d = date(2007, 3, 31)
d = workdays.workday(d+relativedelta(days=1), days=-1)
print(d)

2007-03-30
2007-03-30

In [8]:
# Gap
d = date.today() + relativedelta(months=3) - date.today()
print("Gap :",d)
print("Gap_day :",d.days)
print("Gap_second :",d.seconds)

Gap : 92 days, 0:00:00
Gap_day : 92
Gap_second : 0

In [9]:
print("Foramt")
tmp = 5
d = workdays.workday(date.today(), days=tmp)
print(d)
print(d.strftime("%Y%m%d"))
print(d.strftime("%y%m%d"))
print(d.strftime("%Y%m"))
print(d.strftime("%Y/%m/%d"))
print(d.strftime("%Y/%m"))

Foramt
2023-07-28
20230728
230728
202307
2023/07/28
2023/07

In [10]:
# First of month
d = date(2007, 3, 25)
d = d.replace(day=1)
print("First of month :",d)

d = date(2007, 3, 25)
d = date(d.year, d.month, 1)
print("First of month :",d)

d = date(2007, 3, 25)
d = date(d.year, d.month+1,1) + relativedelta(months=-24)
print("First of month :",d)

d = date(2007, 3, 25)
d = date(d.year, d.month+1,1) + relativedelta(years=-2)
print("First of month :",d)

First of month : 2007-03-01
First of month : 2007-03-01
First of month : 2005-04-01
First of month : 2005-04-01

In [11]:
# End of month
d = date(2007, 3, 25)
d = d.replace(day=calendar.monthrange(d.year, d.month)[1])
print("End of the month :",d)

d = date(2007, 3, 25)
d = date(d.year, d.month+1,1) + timedelta(days=-1)
print("End of the month :",d)

d = date(2007, 3, 25)
d = date(d.year, d.month+0,1) + timedelta(days=-1)
print("End of the month :",d)

End of the month : 2007-03-31
End of the month : 2007-03-31
End of the month : 2007-02-28

In [12]:
# Now
d =datetime.now()
print("Now :",d)
print("year :",d.year)
print("month :",d.month)
print("day :",d.day)
print("hour :",d.hour)
print("minute :",d.minute)
print("second :",d.second)
print("microsecond :",d.microsecond)

Now : 2023-07-21 13:12:55.209595
year : 2023
month : 7
day : 21
hour : 13
minute : 12
second : 55
microsecond : 209595

In [13]:
# Now -> Today
d1 = date(d.year, d.month, d.day)
d2 = d.replace(second=0).replace(hour=0).replace(minute=0).replace(second=0).replace(microsecond=0)
print("Now -> Today :",d1)
print("Now -> Today :",d2)

Now -> Today : 2023-07-21
Now -> Today : 2023-07-21 00:00:00

In [14]:
d1 = '20210501'
d2 = datetime.strptime(d1, '%Y%m%d')
print("String :",d1)
print("datetime :",d2)

String : 20210501
datetime : 2021-05-01 00:00:00

In [15]:
# Excel figure -> date
tmp = 44827
d = datetime(1899, 12, 30) + timedelta(days=tmp)
print("Excel figure :",tmp)
print("datetime :",d)

Excel figure : 44827
datetime : 2022-09-23 00:00:00

In [16]:
d.weekday()
# 0 Monday
# 1 Tuesday
# 2 Wednesday
# 3 Thursday
# 4 Friday
# 5 Saturday
# 6 Sunday

for i in range(7):
    d = date.today() + timedelta(days=i)
    print(d.weekday())

4
5
6
0
1
2
3