In [1]:
import pandas as pd

data_B = {
    'Code1': ['001', '002', '003'],
    'Code2': ['A1', 'A2', 'A3']
}
List = pd.DataFrame(data_B)
display(List)

df = {
    'Type': ['A', 'B', 'B', 'C'],
    'Code1': ['001', '002', '003', '004'],
    'ID': [None, None, None, None]  # 更新対象の列
}
df = pd.DataFrame(df)
display(df)

  Code1 Code2
0   001    A1
1   002    A2
2   003    A3

  Type Code1    ID
0    A   001  None
1    B   002  None
2    B   003  None
3    C   004  None

In [2]:
mapping = List.set_index('Code1')['Code2']
mapping

Code1
001    A1
002    A2
003    A3
Name: Code2, dtype: object

In [3]:
condition = df['Type'] == 'B'
df.loc[condition, 'ID'] = df.loc[condition, 'Code1'].map(mapping)
df

  Type Code1    ID
0    A   001  None
1    B   002    A2
2    B   003    A3
3    C   004  None

In [4]:
df['Type'] == 'B'

0    False
1     True
2     True
3    False
Name: Type, dtype: bool

In [5]:
df['Type'].isin(['B'])

0    False
1     True
2     True
3    False
Name: Type, dtype: bool

In [6]:
~df['Type'].isin(['B'])

0     True
1    False
2    False
3     True
Name: Type, dtype: bool

In [7]:
(df['Type'] == 'B') & (df['ID'] == '002')

0    False
1    False
2    False
3    False
dtype: bool

In [8]:
(df['Type'] == 'B') | (df['Code1'] == '002')

0    False
1     True
2     True
3    False
dtype: bool