In [1]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_columns', 70)
# pd.set_option('display.max_rows', None)

In [2]:
df = pd.DataFrame(np.zeros([2,2]), index = ["a","b"], columns = ["A","B"])
df

     A    B
a  0.0  0.0
b  0.0  0.0

In [3]:
df.rename({"a":"z"})

     A    B
z  0.0  0.0
b  0.0  0.0

In [4]:
df.rename({"A":"Z"},axis=1)

     Z    B
a  0.0  0.0
b  0.0  0.0

In [5]:
tmp = np.array([[0,1], [2,3]])
df = pd.DataFrame(tmp)
df

   0  1
0  0  1
1  2  3

In [6]:
tmp = np.array(range(4)).reshape(2, 2)
df = pd.DataFrame(tmp)
df

   0  1
0  0  1
1  2  3

In [7]:
df = df.sort_values(by=1,axis=1,ascending=False)
df

   1  0
0  1  0
1  3  2

In [8]:
df.sort_values(by=1,axis=1)

   0  1
0  0  1
1  2  3

In [9]:
df = pd.DataFrame( index = ["a","b"], columns = ["A","B"])
df

     A    B
a  NaN  NaN
b  NaN  NaN

In [10]:
df.fillna(1)

   A  B
a  1  1
b  1  1

In [11]:
df.fillna({'A': 1, 'B': 2})

   A  B
a  1  2
b  1  2

In [12]:
df.fillna({'A': 1})

   A    B
a  1  NaN
b  1  NaN

In [13]:
df = pd.DataFrame( index = ["a","b"], columns = ["A","B"])
df.loc["a",:] = 1
df

     A    B
a    1    1
b  NaN  NaN

In [14]:
df.dropna(how='all')

   A  B
a  1  1

In [15]:
df = pd.DataFrame( index = ["a","b"], columns = ["A","B"])
df["A"] = 1
df = df.assign(A=1)  #Same meaning
df

   A    B
a  1  NaN
b  1  NaN

In [16]:
df.dropna(how='all', axis=1)

   A
a  1
b  1

In [17]:
df0 = pd.DataFrame(np.zeros([2,2]), index = ["a","b"], columns = ["A","B"])
df1 = pd.DataFrame(np.ones([2,2]), index = ["c","d"], columns = ["A","B"])
# df0.append(df1) #should be avoided
df = pd.concat([df0,df1])
df

     A    B
a  0.0  0.0
b  0.0  0.0
c  1.0  1.0
d  1.0  1.0

In [18]:
df0 = pd.DataFrame(np.zeros([2,2]), index = ["a","b"], columns = ["A","B"])
df1 = pd.DataFrame(np.ones([2,2]), index = ["c","d"], columns = ["A","D"])
# df0.append(df1) #should be avoided
df = pd.concat([df0,df1])
df
#   A   B   D
# a 0.0 0.0 NaN
# b 0.0 0.0 NaN
# c 1.0 NaN 1.0
# d 1.0 NaN 1.0

     A    B    D
a  0.0  0.0  NaN
b  0.0  0.0  NaN
c  1.0  NaN  1.0
d  1.0  NaN  1.0

In [19]:
df = pd.DataFrame(np.zeros([2,2]))
c = pd.MultiIndex.from_arrays([["A", ""], ["x","y"]])
df.columns = c
df

     A
     x    y
0  0.0  0.0
1  0.0  0.0

In [20]:
df1 = df
df2 = df.copy()
df.iloc[0,:] = 7
df

     A
     x    y
0  7.0  7.0
1  0.0  0.0

In [21]:
df1

     A
     x    y
0  7.0  7.0
1  0.0  0.0

In [22]:
df2

     A
     x    y
0  0.0  0.0
1  0.0  0.0

In [23]:
df3 = pd.concat([df1 ,df2]).reset_index(drop=True)
df3

     A
     x    y
0  7.0  7.0
1  0.0  0.0
2  0.0  0.0
3  0.0  0.0

In [24]:
df3 = pd.concat([df1 ,df2],axis=1)
df3

     A         A
     x    y    x    y
0  7.0  7.0  0.0  0.0
1  0.0  0.0  0.0  0.0

In [25]:
for i in range(3):
    exec(f"df{i} = df")

In [26]:
a =list(range(0,4))
a

[0, 1, 2, 3]

In [27]:
a = list(range(0,8,2))
a

[0, 2, 4, 6]

In [28]:
a = np.reshape(a,(2,2))
a

array([[0, 2],
       [4, 6]])

In [29]:
df = pd.DataFrame(a)
df

   0  1
0  0  2
1  4  6

In [30]:
df.loc[df[0]==4,:]

   0  1
1  4  6

In [31]:
#or
df.loc[(df[0]==0)|(df[0]==4),:]

   0  1
0  0  2
1  4  6

In [32]:
(df[0]==0)|(df[0]==4)

0    True
1    True
Name: 0, dtype: bool

In [33]:
#and
df.loc[(df[0]==0)&(df[1]==2),:]

   0  1
0  0  2

In [34]:
df.loc[df[0].isin([0,4]),:]

   0  1
0  0  2
1  4  6

In [35]:
df.loc[~(df[0].isin([0])),:] #not in

   0  1
1  4  6

In [36]:
df.loc[~(df[0].isin([0])),:].reset_index(drop=True)

   0  1
0  4  6