In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
NP= np.random.rand(int(1e5),2)
PD = pd.DataFrame(NP)
NP = PD.values

print(NP.dtype)
print(type(NP) == np.ndarray)
print(type(PD) == np.ndarray)
# float64
# True
# False

float64
True
False

In [3]:
start = time.time()
for i in range(len(NP)):
    NP[i,0] = 0
    NP[i,1] = 1
print(round(time.time() - start,2),"Seconds")
pd.DataFrame(NP).head()

0.03 Seconds

     0    1
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

In [4]:
start = time.time()
for i in range(len(PD)):
    PD.loc[i,0] = 0
    PD.loc[i,1] = 1
print(round(time.time() - start,2),"Seconds")
PD.head()

10.48 Seconds

     0    1
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0