In [1]:
from xbbg import blp
import pdblp
import workdays
import datetime
import pandas as pd
pd.set_option('display.max_columns', 70)

con = pdblp.BCon(timeout=5000)
con.start()

LS = ["ES","NQ","TP"]
T=[]
for i in range(len(LS)):
    T += [LS[i]+"1 Index"]
    
# d_from = "20050301"
d_from = workdays.workday(datetime.datetime.today(), days=-260).strftime("%Y%m%d")
d_to = workdays.workday(datetime.datetime.today(), days=-1).strftime("%Y%m%d")

BDH = blp.bdh(T, ["px_open","px_last"], d_from, d_to).reset_index()
# BDH = con.bdh(T, ["px_open","px_last"], d_from, d_to).reset_index()
#BDH = con.bdh(T, ["px_open","px_last"], d_from, d_to, elms = [("periodicitySelection","MONTHLY")]  ).reset_index()  #Monthly
#BDH = con.bdh(T, ["px_open","px_last"], d_from, d_to, 
#        elms = [("nonTradingDayFillOption","NON_TRADING_WEEKDAYS"),("nonTradingDayFillMethod","PREVIOUS_VALUE")] ).reset_index()
#Formats the type of data returned for nontrading days.

BDH[[BDH.columns[0][0]]+T].head()


# https://data.bloomberglp.com/labs/sites/2/2013/12/blpapi-developers-guide-1.38.pdf
# https://data.bloomberglp.com/professional/sites/10/2017/03/BLPAPI-Core-Developer-Guide.pdf

       index ES1 Index          NQ1 Index           TP1 Index
               px_open  px_last   px_open   px_last   px_open px_last
0 2022-06-21   3802.65  3889.10  11782.82  12037.29    1772.0  1804.2
1 2022-06-22   3887.55  3883.94  12039.89  12025.33    1807.6  1801.3
2 2022-06-23   3882.39  3922.13  12001.42  12203.91    1793.5  1800.3
3 2022-06-24   3907.16  4042.38  12152.18  12622.92    1794.0  1815.9
4 2022-06-27   4041.09  4029.48  12619.80  12518.95    1812.9  1830.0