In [1]:
import pdblp
from xbbg import blp
import workdays
import time
import pandas as pd
pd.set_option('display.max_columns', 70)

d_from = "20050301"
d_to = workdays.workday(datetime.datetime.today(), days=-1).strftime("%Y%m%d")


# tmp = con.bdh("ES1 Index", "px_last", d_from, d_to,
#              elms = [("periodicitySelection", "MONTHLY")]).reset_index()

# tmp = con.bdh("ES1 Index", "px_last", d_from, d_to,
#              elms = [("periodicitySelection", "WEEKLY")]).reset_index()

tmp = con.bdh("ES1 Index", "px_last", d_from, d_to,
             elms = [("periodicitySelection", "QUARTERLY")]).reset_index()

tmp

# DAILY
# WEEKLY
# MONTHLY
# QUARTERLY
# SEMI_ANNUALLY
# YEARLY
# https://data.bloomberglp.com/labs/sites/2/2013/12/blpapi-developers-guide-1.38.pdf
# https://data.bloomberglp.com/professional/sites/10/2017/03/BLPAPI-Core-Developer-Guide.pdf

ticker       date ES1 Index
field               px_last
0      2005-03-31   1145.13
1      2005-06-30   1151.44
2      2005-09-30   1182.54
3      2005-12-30   1194.58
4      2006-03-31   1230.90
..            ...       ...
68     2022-03-31   4631.13
69     2022-06-30   3871.97
70     2022-09-30   3663.44
71     2022-12-30   3895.73
72     2023-03-31   4137.75

[73 rows x 2 columns]