In [1]:
from xbbg import blp
import workdays
import datetime

# d_from = "20050301"
d_from = workdays.workday(datetime.datetime.today(), days=-260).strftime("%Y%m%d")
d_to = workdays.workday(datetime.datetime.today(), days=-1).strftime("%Y%m%d")

US = blp.bds("JPY Curncy","CALENDAR_NON_SETTLEMENT_DATES", CALENDAR_START_DATE=d_from, CALENDAR_END_DATE=d_to,SETTLEMENT_CALENDAR_CODE="US")
US

           holiday_date
JPY Curncy   2022-06-20
JPY Curncy   2022-07-04
JPY Curncy   2022-09-05
JPY Curncy   2022-10-10
JPY Curncy   2022-11-11
JPY Curncy   2022-11-24
JPY Curncy   2022-12-26
JPY Curncy   2023-01-02
JPY Curncy   2023-01-16
JPY Curncy   2023-02-20
JPY Curncy   2023-04-07
JPY Curncy   2023-05-29