In [1]:
import pdblp
from xbbg import blp
import pandas as pd
import workdays
import datetime
import numpy as np

C = ["US","DM","UK","CD","AD","NZ","SZ","NK","SK"]
T0 = ["L","YC"]
tmp = ["Currency","country_iso","px_last","volatility_90d","rsi_30d"]

T_List = {}
BDP_List = {}

for i in T0:
    T = ["SB" + x + "13" + i + " Index" for x in C]
    BDP0 = blp.bdp(tickers=T, flds=tmp)
    BDP0 = BDP0.loc[T,:]

    for j in tmp[2:]:
        BDP0[j.lower()] = round(BDP0[j.lower()].astype(float),2)
    
    BDP0.insert(1, "Ticker", T)
    BDP0 = BDP0.reset_index(drop=True)
    
    T_List[i] = T
    BDP_List[i] = pd.DataFrame(BDP0.values, columns = BDP0.columns)

BDP_List["YC"]["currency"] = BDP_List["L"]["currency"]
BDP_List["YC"]["country_iso"] = BDP_List["L"]["country_iso"]

BDP_List["L"]

  currency         Ticker country_iso  px_last volatility_90d rsi_30d
0      USD  SBUS13L Index          US   514.44           3.54   46.64
1      EUR  SBDM13L Index          DE   363.78           2.88   44.63
2      GBP  SBUK13L Index          GB   691.09           2.65   35.69
3      CAD  SBCD13L Index          CA   645.05           2.71   44.47
4      AUD  SBAD13L Index          AU  1145.47           2.56   33.87
5      NZD  SBNZ13L Index          NZ   409.76           1.93   49.44
6      CHF  SBSZ13L Index          CH    228.2           2.18   42.59
7      NOK  SBNK13L Index          NO   233.27           2.02   42.62
8      SEK  SBSK13L Index          SE    352.5           2.65   45.08